*{
    margin: 0%;
    padding: 0;
    font-family: Roboto ,Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}
body{
    background-color: rgba(193, 191, 237 , 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.app{
 width: 90vw;
 background-color: rgba(243, 218, 59 , 0.5);
 margin: 0 100px 100px 0;
 margin-left: 100px;
border-radius: 10px;
 padding:30ppx ;

}
.ans{
    display: flex;
   flex-direction: column;
   align-items: start;

}
button{
    border: none;
    margin: 10px 10px 10px 20px;
    font-size: medium;
    padding: 10px;
    background-color: rgb(105, 110, 120);
    border-radius: 10px;
    color: white;
    width :70vw;
text-align: left;
    
}
button:hover not[disabled]{
    background-color: rgb(48, 50, 52);
    color:   rgb(208, 215, 228);
    transition: ease 0.5s;
    
}
  h5{
    font-size: large;
    font-weight: 500;
    color: rgb(32, 43, 40);
    margin: 20px 30px 20px 20px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
}
h4{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgb(22, 30, 27);
    margin: 30px 10px 10px 40px;
}
.nex{
    display: none;
}
.next{
    display: block;
    background-color: rgb(22, 30, 27);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    width:100px;
    text-align: center;
}



.Check{
    display: none;
    background-color: rgb(22, 30, 27);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    
    width:150px;
    
  
  
}
.correct{
    background-color: rgba(39, 102, 83, 0.607);
}
.incorrect{
    background-color: rgb(174, 90, 90);
}
.start{
    display: none;
    width: 100px;
    background-color: rgb(22, 30, 27);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
.form{
    width: 90vw;
    background-color: rgb(128, 150, 168);
    margin: 100px auto 0 0;
   border-radius: 10px;
    padding:20px ;
    margin: 100px 100px 100px 0;
    margin-left: 100px;
    display: flex;
    align-items: center;

}
span{
    font-weight: 500;
  margin-left: 100px;
}
input{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}